@import "@styles/variables";

.container {
    width: 100%;
    overflow: auto;

    background: $color-primary-light;
}

.innerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;

    width: 70%;
    // height: 1000px;

    margin: 20px auto 50px;
    top: 44px;

    @media (max-width: 978px) {
        width: 660px;
    }

    .title {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

        flex: none;
        margin: 24px 0px;
    }
}
