@import "@styles/variables";

.container {
    width: 100%;
    height: 350px;
    overflow: auto;

    background: $color-primary-light;
}

.innerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;

    width: 85%;

    margin: 20px auto 50px;
    top: 44px;

    @media (max-width: 978px) {
        width: 660px;
    }

    h2 {
        width: 100%;
        text-align: center;

        margin: 24px 0;
    }
}
