@import "@styles/variables.scss";

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    padding: 12px 50px;

    box-sizing: border-box;
    position: fixed;
    width: 100%;
    height: 131px;
    top: 0;
    left: 0;
    z-index: 10;

    background: $white;

    @media (max-width: 1280px) {
        padding: 12px 20px;
    }

    .innerHeader {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0px;

        flex: none;
        order: 0;
        flex-grow: 1;
        margin: 0px 10px;

        .navBarLogo {
            width: 335px;
            height: 61px;

            flex: none;
            flex-grow: 0;
        }

        nav {
            display: flex;
            justify-content: flex-end;
            flex-direction: row;
            align-items: center;
            padding: 6px 0;

            width: 100%;
            height: 60px;

            background: $white;

            a {
                text-decoration: none;
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: center;

                font-size: 24px;
                font-family: "Mulish", $font-fallback;
                color: $color-secondary;
                background-color: inherit;
                padding: 3px 12px;

                height: 100%;

                flex: 0 1 auto;
                margin: 0px 10px;

                &:hover {
                    background-color: $color-secondary-light;
                }

                @media (max-width: 976px) {
                    font-size: 18px;
                    padding: 3px 6px;
                }
            }
        }
    }
}
