@import "@styles/variables";

.container {
    width: 100%;
    overflow: auto;

    background: $color-secondary-light;
}

.innerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;

    width: 85%;

    margin: 20px auto 50px;
    top: 44px;

    // @media (max-width: 978px) {
    //     width: 660px;
    // }

    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px;

        width: 100%;

        h2 {
            width: 100%;
            text-align: center;

            margin: 24px 0;
        }

        p {
            text-align: center;
        }
    }

    .diseasesSection {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px;

        width: 100%;

        margin: 31px 0;
    }

    .cardContainer {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 0;

        overflow-x: auto;

        > * {
            flex: none;
            margin: 20px;
        }

        @media (max-width: 1280px) {
            justify-content: flex-start;
        }
    }
}
